.header-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(195, 255, 210, 0.616)
    ),
    url("../../../Asset/images/abstract.jpg");
  background-size: cover;
  background-position: cover;
}
#btn-login {
  background: #b8e5cb;
  color: #d78e62;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

#btn-login:hover {
  background: #d78e62;
  color: #b8e5cb;
}
