.home-container {
  margin-top: 66px;
}

.banner-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(195, 255, 210, 0.616)
    ),
    url("../../../Asset/images/abstract.jpg");
  height: auto;
  background-position: center;
  background-repeat: cover;
  background-size: cover;
}

#btn-appointment {
  background: #bde6d1;
  font-weight: 600;
}

#btn-appointment:hover {
  background: #eb7954;
}
