.banner-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(195, 255, 210, 0.616)
    ),
    url("../../../Asset/images/abstract.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
